<form action="/register-enterprise" method="post">
    <div class="card card-register">
        <div class="card-body">
            <h3 class="card-title title-enterprise">Nova Empresa</h3><hr>
            <h5 class="card-subtitle mb-2 text-muted subtitle-enterprise">Informe os dados para iniar.</h5>
            <form action="/registerUser" method="post" autocomplete="on">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Razão Social</label>
                            <input type="text" class="form-control" id="nome" name="name" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="fantasy" class="form-label">Nome Fantasia</label>
                            <input type="text" class="form-control" id="fantasy" name="fantasy" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="cnpj" class="form-label">CNPJ</label>
                            <input type="text" class="form-control" id="cnpj" name="cnpj" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="cnpj" class="form-label">Inscrição Estadual</label>
                            <input type="text" class="form-control" id="insc_est" name="insc_est" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="codatv" class="form-label">Cód. Atividade</label>
                            <input type="text" class="form-control" id="codatv" name="cod_atv" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="codnat" class="form-label">Cód. Natureza</label>
                            <input type="text" class="form-control" id="codnat" name="cod_nature" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="tel" class="form-label">Telefone</label>
                            <input type="text" class="form-control" id="tel" name="tel" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Contato</label>
                            <input type="text" class="form-control" id="contato" name="contact" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="nome" class="form-label">CEP</label>
                            <input type="number" class="form-control" id="cep" name="cep" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="number" class="form-label">Número/Comp</label>
                            <input type="text" class="form-control" id="number" name="number" required placeholder="Exemplo: 300, casa 1">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="logr" class="form-label">Logradouro</label>
                            <input type="text" class="form-control" id="logr" name="logradouro" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="bairro" class="form-label">Bairro</label>
                            <input type="text" class="form-control" id="bairro" name="bairro" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="cidade" name="cidade" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="uf" class="form-label">UF</label>
                            <input type="text" class="form-control" id="uf" name="uf" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
            </form>
        </div>
    </div>
</form>