<section id="rigth-navbar" class="shadow-lg rounded bg-dark">
    <i class="bi bi-arrow-bar-left act-hide " onclick="hideShow(true)"></i>
    <div class="list-navbar">
        <ul class="nav flex-column">
            <li class="nav-item navbar-item">
                <a class="nav-link item-navbar active" aria-current="page" href="#"><i class="bi bi-house-door-fill"></i></a>
            </li>
            <li class="nav-item navbar-item">
                <a class="nav-link item-navbar" href="#"><i class="bi bi-person-circle"></i></a>
            </li>
            <li class="nav-item navbar-item">
                <a class="nav-link item-navbar" href="#"><i class="bi bi-people-fill"></i></a>
            </li>
            <li class="nav-item navbar-item">
                <a class="nav-link item-navbar" href="#"><i class="bi bi-calendar-date"></i></a>
            </li>
            <li class="nav-item navbar-item">
                <a class="nav-link item-navbar" href="#"><i class="bi bi-bell-fill"></i></a>
            </li>
            <li class="nav-item navbar-item">
                <a class="nav-link item-navbar" href="#"><i class="bi bi-shop-window"></i></a>
            </li>
            <li class="nav-item navbar-item">
                <a class="nav-link item-navbar" href="#"><i class="bi bi-envelope-fill"></i></a>
            </li>
        </ul>
    </div>
</section>
<div id="show-navbar" class="d-none shadow-lg bg-dark rounded">
    <i class="bi bi-arrow-bar-right" onclick="hideShow(false)"></i>
</div>